./wheels/gdal-3.12.2-cp312-cp312-win_amd64.whl
fiona
flopy
geopandas
ipykernel
ipython
jupyter
jupyterlab
matplotlib
netcdf4
notebook
numpy<2.0
openpyxl
pandas<3.0
pooch
pyproj
pyshp
pytest
pyyaml
rasterio
rasterstats
requests
rtree
scikit-learn
scipy
seaborn
shapely
tqdm
xarray
xlrd
cartopy
dash
pyemu
wqchartpy